{% extends base_template %}

{% block body %}
<h1>{{ student.get_full_name }}</h1>
<h2>Currently Enrollments</h2>
{% if current_enrollments %}
<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Title</th>
      <th>Credit Hours</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for enrollment in current_enrollments %}
    <tr>
      <td>{{ enrollment.section.course.prefix }}{{ enrollment.section.course.number }}-{{ enrollment.section.section }}</td>
      <td>{{ enrollment.section.course.title }}</td>
      <td>{{ enrollment.section.course.credit_hours }}</td>
      <td>{{ enrollment.get_status_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><em>Student is not currently enrolled in any courses</em></p>
{% endif %}
<p><a href="#">view enrollment history</a></p>
<h2>Survey Results</h2>
{% if student.surveyresult_set.all %}
<ul>
  {# for survey in student.surveyresult_set.all #}
  <li>{{ survey.date_taken|date:"F jS, Y" }} (<a href="#">view results</a>)</li>
  {# endfor #}
</ul>
{% else %}
<p><em>Student has not completed any surveys</em></p>
{% endif %}
<h2>Assessment Results</h2>
<ul>
  <li>
    <h3>Personality Type</h2>
    {% if latest_ptr %}
    <dl>
      <dt>{{ latest_ptr.personality_type.0 }}</dt>
      <dd><img src="http://chart.apis.google.com/chart?chs=225x175&cht=p&chd=t:{% if pt_scores.0.0 == 'E' %}{{ pt_scores.0.1 }},{{ pt_scores.0.2 }}{% else %}{{ pt_scores.0.2 }},{{ pt_scores.0.1 }}{% endif %}&chdl=Extraverted|Introverted&chp=0" alt="Chart" /></dd>
      <dt>{{ latest_ptr.personality_type.1 }}</dt>
      <dd><img src="http://chart.apis.google.com/chart?chs=225x175&cht=p&chd=t:{% if pt_scores.1.0 == 'S' %}{{ pt_scores.1.1 }},{{ pt_scores.1.2 }}{% else %}{{ pt_scores.1.2 }},{{ pt_scores.1.1 }}{% endif %}&chdl=Sensing|Intuitive&chp=0" alt="Chart" /></dd>
      <dt>{{ latest_ptr.personality_type.2 }}</dt>
      <dd><img src="http://chart.apis.google.com/chart?chs=225x175&cht=p&chd=t:{% if pt_scores.2.0 == 'T' %}{{ pt_scores.2.1 }},{{ pt_scores.2.2 }}{% else %}{{ pt_scores.2.2 }},{{ pt_scores.2.1 }}{% endif %}&chdl=Thinking|Feeling&chp=0" alt="Chart" /></dd>
      <dt>{{ latest_ptr.personality_type.3 }}</dt>
      <dd><img src="http://chart.apis.google.com/chart?chs=225x175&cht=p&chd=t:{% if pt_scores.3.0 == 'J' %}{{ pt_scores.3.1 }},{{ pt_scores.3.2 }}{% else %}{{ pt_scores.3.2 }},{{ pt_scores.3.1 }}{% endif %}&chdl=Judging|Perceiving&chp=0" alt="Chart" /></dd>
    </dl>
    <p><a href="#">view personality type details</a></p>
    {% else %}
    <p><em>Student has not completed the personality type assessment</em></p>
    {% endif %}
  </li>
  <li>
    <h3>Learning Style</h2>
    {% if latest_lsr %}
    <p><img src="http://chart.apis.google.com/chart?chxl=0:|Auditory|Kinesthetic|Visual&chxr=0,0,0&chxt=y&chbh=a&chs=450x200&cht=bhs&chco=4D89F9&chds=0,10&chd=t:{{ latest_lsr.auditory_score }},{{ latest_lsr.kinesthetic_score }},{{ latest_lsr.visual_score }}" alt="Chart" /></p>
    <p><a href="#">view learning style details</a></p>
    {% else %}
    <p><em>Student has not completed the learning style assessment</em></p>
    {% endif %}
  </li>
</ul>
{% endblock %}
