{% extends base_template %}

{% block body %}
<h1>{{ section }}: {{ section.title }}</h1>
<table>
  <thead>
    <tr>
      <th style="width: 5%;"></th>
      <th style="width: 45%;">Student</th>
      <th style="width: 25%;">Personality Type</th>
      <th style="width: 25%;">Learning Style</th>
    </tr>
  </thead>
  <tbody>
    {% for enrollment in section.get_active_enrollments %}
    <tr class="{% cycle "odd" "even" %}">
      <td style="text-align: center;"><input type="checkbox" name="students" id="id_students" value="{{ enrollment.student.id }}" /></td>
      <td><a href="{{ enrollment.student.profile.get_profile_url }}">{{ enrollment.student.get_full_name }}</a></td>
      <td>{{ enrollment.student.profile.get_latest_personality_type_assessment_results.personality_type }}</td>
      <td>{{ enrollment.student.profile.get_latest_learning_style_assessment_results.learning_style }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
