{% extends base_template %}

{% block body %}
<h1>{% block assessment_heading %}{{ title }}{% endblock %}</h1>
<h4 class="custom_assessment_category">Responses</h4>
{% if responses|length == 0 %}
	<p class="custom_assessment_warning">There were no questions answered.</p>
{% else %}
	<dl class="custom_assessment_responses"> 
	    {% for response in responses %}
	        <dt id="{{ response.question }}">{{ response.question }}&nbsp;</dt><dd id="{{ response.answer }}">{{ response.answer }}</dd>
	    {% endfor %}
	</dl>
	<div class="clear"></div>
{% endif %}
{% endblock %}
