<div class="clear"></div>
    {% for dict in additional_data %}
    	<div class="clear"></div>
        {% if additional_data.messages|length > 0 %}
        	{% for item in dict.messages %}
        		<div class="error">{{ item }}</div>
			{% endfor %}
        {% endif %}
    	<h4 class="categoryLabel">{{ dict.category }}</h4>
    	<dl class="catagoryValues"> 
        	{% for item in dict.dataset %}
        		{% if item.label and item.value %}
        			<dt id="{{ item.label }}"><b>{{ item.label }}:&nbsp;</b></dt>
            		<dd id="{{ item.label }}_value">{{ item.value }}</dd>
            	{% endif %}
        	{% endfor %}
        </dl>
        <div class="clear"></div>
    {% endfor %}
<div class="clear"></div>