<div class="clear"></div>
{% if current_enrollments %}
<form id="profile_intervention-form">
{% if can_view_visits %}
    <input type="button" id="id-intervene" name="intervene" value="Intervene" style="float:right; margin-top:-35px;"/>
{% endif %}
<table>
  <thead>
    <tr>
      {% if can_view_visits %}
      <th></th>
      {% endif %}
      <th>Course</th>
      <th>Title</th>
      <th>Credit Hours</th>
    </tr>
  </thead>
  <tbody>
    {% for enrollment in current_enrollments %}
    <tr class="{% cycle "odd" "even" %}">
      {% if can_view_visits %}
      <td style="width: 5%;"><input type="radio" id="id_section_id" name="section_id" value="{{ enrollment.section.id }}" /></td>
      {% endif %}
      <td style="width: 25%;">{{ enrollment.section.prefix }}{{ enrollment.section.number }}-{{ enrollment.section.section }}</td>
      <td style="width: 50%;">{{ enrollment.section.title }}</td>
      <td style="width: 25%;">{{ enrollment.section.credit_hours }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<input type="hidden" name="students" id="id_student" value="{{ student.id }}" />
</form>
{% else %}
<p><em>Student is not currently enrolled in any courses</em></p>
{% endif %}
