<div class="clear"></div>
  <div id="personality-type-charts">
      <ul>
        <li>
          <h4>{{ latest_personality_type_result.personality_type.0 }}</h4>
          <div id="personality-type-chart-1" class="chart"></div>
          <table class="personality-type-legend" ><tr><td class="ed"></td><td></td></tr></table>
        </li>
        <li>
          <h4>{{ latest_personality_type_result.personality_type.1 }}</h4>
          <div id="personality-type-chart-2" class="chart"></div>
        </li>
        <li>
          <h4>{{ latest_personality_type_result.personality_type.2 }}</h4>
          <div id="personality-type-chart-3" class="chart"></div>
        </li>
        <li class="last">
          <h4>{{ latest_personality_type_result.personality_type.3 }}</h4>
          <div id="personality-type-chart-4" class="chart"></div>
        </li>
      </ul>
  </div>
<div class="clear"></div>