<div id="assessment-results">
    <table id="custom-assessments">
        <thead>
            <tr>
                <th style="width: 25%;">Assessment</th>
                <th style="width: 30%;">Date</th>
                <th style="width: 15%;">Details</th>
            </tr>
        </thead>
        {% for assessment in CUSTOM_ASSESSMENTS %}
        <tbody id="assessment-results-{{ assessment.application_name }}">  
        </tbody>
            <script>$('#assessment-results-{{ assessment.application_name }}').load(base_url + 'assessment/{{ assessment.application_name }}/get/results/{{ student.id }} .assessment-row');</script>
            {% endfor %}
    </table>
    <div id="details_window" class="window"></div>
</div>