{% extends base_template %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% url static "js/visits.js" %}"></script>
{% if latest_ptr or latest_lsr %}
{% include "profiles/profile_scripts.html" %}
{% endif %}
<script type="text/javascript">
var student = "{{ student.id }}";
</script>
{% endblock %}

{% block body %}
<h1>{{ student.get_full_name }}</h1>
<h2>Current Enrollments</h2>
{% include "profiles/profile_current_enrollments.html" %}
<div id="learning-style">
  <h2 class="float-left">Learning Style</h2>
  {% include "profiles/profile_learning_style.html" %}
</div>
<div id="survey-results">
  <h2 class="float-left">Survey Results</h2>
  {% include "profiles/profile_survey_results.html" %}
</div>
<div class="clear"></div>
<h2 class="float-left">Personality Type</h2>
{% include "profiles/profile_personality_type.html" %}
{% if not_student %}
<div class="clear"></div>
<h2 class="float-left">
  Visits
</h2>
<a href="{% url visit:submit-visit student.id %}" class="float-right">submit new visit</a>
<div class="clear"></div>
<div id="visits" style="min-height: 225px;">
  {% if visits %}
  {% include "visits/visits.html" %}
  {% else %}
  <div class="clear"></div>
  <p><em>Student has not had any visits</em></p>
  {% endif %}
</div>
{% endif %}
{% endblock %}
