{% extends "base.html" %}

{% block styles %}
{{ block.super }}
<style type="text/css">
    #name
    {
        margin-top: 57px;
    }
    #navigation ul li a
    {
        padding-left: 25px;
        padding-right: 25px;
    }
</style>
{% endblock %}

{% block header %}
{{ block.super }}
<div id="navigation">
  <div id="navigation-left"></div>
  <ul>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Survey</a></li>
    <li><a href="#">Assessments</a></li>
    <li class="last">{% if user.is_authenticated %}<a href="{% url logout %}">Sign Out</a>{% else %}<a href="{% url login %}">Sign In</a>{% endif %}</li>
  </ul>
  <div id="navigation-right"></div>
</div>
{% endblock %}
