{% extends base_template %}
 
{% block body %}
{% if visit.private %}
<p class="notification">This visit is marked as private and is therefore only viewable by counseling staff</p>
{% endif %}
<p class="small-text" style="float: right;"><a href="{% url profile:profile student.id %}">Return to Student Profile</a></p>
<h1>{{ student.get_full_name }}</h1>
<h2>Visit ({{ visit.date_submitted|date:"F j, Y" }})</h2>
<h3>Details</h3>
<dl id="visit-details">
  <dt>Campus:</dt>
  <dd>{{ visit.get_campus_display }}</dd>
  <dt>Contact Type:</dt>
  <dd>{{ visit.get_contact_type_display }}</dd>
  <dt>Department:</dt>
  <dd>{{ visit.get_department_display }}</dd>
  <dt>Reason for Visit:</dt>
  <dd>{{ visit.get_reason_display }}</dd>
  <dt>Undecided Financial Aid:</dt>
  <dd>{{ visit.undecided_financial_aid }}</dd>
  <dt>Career Services Outcome:</dt>
  <dd>{{ visit.get_career_services_outcome_display }}</dd>
</dl>
<div style="clear: both;"></div>
<h3>Notes</h3>
<p>{{ visit.note }}</p>
<p><em>Submitted by {{ visit.submitter.get_full_name }}</em></p>
{% endblock %}
