{% extends base_template %}
 
{% block scripts %}
{{ block.super }}
{% endblock %}

{% block body %}
<p class="small-text" style="float: right;"><a href="{% url profile:profile student.id %}">Return to Student Profile</a></p>
<h1>{{ student.get_full_name }}</h1>
<h2>New Visit</h2>
<form action="{% url visit:submit-visit student.id %}" method="POST" class="ui-form">
  {% csrf_token %}
  <h3>Details</h3>
  <div class="field">
    {{ form.campus.label_tag }}
    {{ form.campus }}
  </div>
  <div class="field">
    {{ form.contact_type.label_tag }}
    {{ form.contact_type }}
  </div>
  <div class="field">
    {{ form.department.label_tag }}
    {{ form.department }}
  </div>
  <div class="field">
    {{ form.reason.label_tag }}
    {{ form.reason }}
  </div>
  <div class="field">
    {{ form.undecided_financial_aid.label_tag }}
    {{ form.undecided_financial_aid }}
  </div>
  <div class="field">
    {{ form.career_services_outcome.label_tag }}
    {{ form.career_services_outcome }}
  </div>
  <h3>Notes</h3>
  <div class="field">
    {{ form.note }}
  </div>
  {% if can_privatize %}
  <div class="field">
    {{ form.private }}
    <label for="id_private" style="display: inline;">Make Private</label>
  </div>
  {% endif %}
  <p><input type="submit" name="submit" value="Submit" /></p>
</form>
{% endblock %}
