
#selfefficacy-legend-discription
{
    margin-top: 10px;
    padding: 0;
    float: left;
    font-weight: normal;
    color: #546d9e;
    font-size: 18px;
    white-space: nowrap;
}
.selfefficacy-question
{
    float: left;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 10px;
}
.selfefficacy-field ul
{
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
    height: 50px;
    padding-bottom: 10px;
}
.selfefficacy-field li 
{
    float:left;
    padding: 10px 33px;
}
div.selfefficacy-field 
{
    margin: 0px;
    clear:both;
    height:50px;
    padding: 15px 5px 20px 5px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
tr.seeven, tr.oreven, tr.sseven
{
    background:#fff;
}
tr.seodd, tr.orodd, tr.ssodd
{
    background:#f1f1f1;
}
#id_submit
{
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 3px 3px 1px rgba(200, 200, 200, 0.6);
    width: 100px;
 }
.clear 
{
	clear: both;
}
#self-efficacy-details p
{
    margin: 25px;
}
.detail-information
{
    font-style: normal;
    font-weight: normal;
}

div.onlinereadiness-field 
{
    margin: 0px;
    clear:both;
    height:65px;
    padding: 15px 5px 10px 5px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
div.even
{
    background:#fff;
}
div.odd
{
    background:#f1f1f1;
}
#onlinereadiness-results th
{
    text-align: center;
    font-size: 12px;
    background:#D1D1D1;
    border: 1px solid #AAAAAA;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#score-details table
{
    padding-top: 15px;
}
#onlinereadiness-results td
{   
    background:#f1f1f1;
    border: 1px solid #AAAAAA;
    font-weight: bold;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
#onlinereadiness-score
{
    font-weight: bold;
    color: #333333;
}
.onlinereadiness-score-category-description
{
    font-size: 14px;
}
.studyskills-question
{
    float: left;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 10px;
}
.studyskills-field-preference li, .studyskills-field-self li
{
    margin-right: 25px;
}
.studyskills-field ul
{
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
    height: 50px;
    padding-bottom: 10px;
}
.studyskills-field li 
{
    float:left;
    padding: 10px 33px;
}
div.studyskills-field 
{
    margin: 0px;
    clear:both;
    height:50px;
    padding: 15px 5px 20px 5px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
fieldset.studyskills-fieldset
{
    border: 1px solid;
    padding: 10px;
    margin: 0px;
    margin-top:40px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-topleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
legend.studyskills-legend
{
  border: 1px solid #d6d6d6;
    padding: 10px 20px;
    margin: 0px 20px;
    box-shadow: 2px 2px 2px #c1c1c1;
    background-color: #F1F1F1;
    width: 90%;
    font-weight: normal;
    font-size: 18px;
    white-space: nowrap;
    text-align: center;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-topleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}